<form >
    <div class="mb-3">
        <label for="Quote" class="form-label">Write Your Quote Here</label>
        <input type="text" class="form-control" id="Quote" placeholder="Write Quote">
    </div>
    <div class="mb-3">
        <label for="authorName" class="form-label"> Name of Author</label>
        <input type="text" class="form-control" id="authorName" placeholder="Authors Name">
    </div>
    <div class="mb-3">
        <label for="userName" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Authors Name">
    </div>
</form>
