<div class="col-md-12">
	<div class="quote-input">
		<form >
			<h3>Please add a <strong>quote</strong> here:</h3>
            <label for="author">Your Name Here</label><br>
			<input type="text"  placeholder="Your Name" class="form-control mb10"  name="yourName" id="yourName" #yourName = "ngModel" [(ngModel)]="newQuote.yourName">
            <pre></pre>
            <label for="publisher">Publisher</label><br>
			<input type="text"  placeholder="Quote Author" class="form-control mb10"  name="author" id="author" #author = "ngModel" [(ngModel)]="newQuote.author"  >
            <pre></pre>
            <label for="quotes">Write Quote</label>
			<textarea type="text" placeholder="Quote Here..." class="form-control mb10"  name="quotes" id="quotes" #quotes = "ngModel" [(ngModel)]="newQuote.quotes" ></textarea>
            <pre></pre>
			<button type="submit" class="btn btn-success btn-block btn-lg" (click)="submitQuote()">SUBMIT</button>
			<hr>
	
		</form>		
	</div>
</div>
