span{
    color: white;
    font-size: 23px;
    font-weight: bold;
}
#displayline{
    margin: 100p,0;
    background-color: aqua;
}
.moreBtn{
    background-color: aqua;
    width: 30%;
    border: none;
}